/* Free font: https://www.dafont.com/belgiano-serif.font?l[]=10&l[]=1*/
@font-face {
  font-family: Belgiano;
  src: url(assets/Belgiano.ttf);
}

/*fefbf7*/

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefbf7;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:grey;
}

h1, h2, h4, p{
  font-family: Belgiano;
}

h1 {
    font-size: 3.3rem;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.2rem;
}

p{
  font-size: 1.4rem;
}

/*---*/

.nav-container {
  width: 100%; 
  background-color: #fcfaf6;

  display: flex;
  justify-content: center; 
  justify-self: center;
  align-items: center;
  position: fixed;
  top: 0; 
}

.nav-content {
  width: 85%; 
  max-width: 1100px;
  height: 6vh;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Belgiano;
}

.nav-container img {
  width: 70px;
}

.logo a {
  color: inherit;
}

.nav-left, .nav-right {
  display: flex;
  gap: 20px; 
  flex-direction: row;

  font-family: Belgiano;
  font-size: medium;
}

.nav-left a, .nav-right a {
  color: black;
  text-decoration: none;
}

.nav-left a:hover, .nav-right a:hover {
  color: grey;
}

.text-hover:hover {
  transition: transform 0.2s ease-in-out;
}

.text-hover:hover {
  transform: scale(1.05); 
}

.active-link {
  border-bottom: 1px solid #183252;
}

/*---*/

footer {
  width: 85vw; 
  margin-top: 50px;
  border-top: 1px solid #183252;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  justify-self: center;
  font-size: medium;
}

footer p {
  font-size: medium;
  color: #183252;
}

.socials {
  width: 150px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  text-align: center;
}

.s-icon {
  width: 100%;
  max-width: 35px;
}

.copyright {
  margin-top: -10px;
}

/*---*/


.home-content {
  width: 100vw; 
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.home-image {
  background-color: #183252;
  width: 85%; 
  max-width: 1100px;
  aspect-ratio: 16 / 9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img{
  width: 100%;
}

.home-1 {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content-1{
  width: 50%;
  max-width: 1100px;
}

.home-content-1 p{
  color: rgb(54, 54, 65);
}

.home-divider {
  width: 50%;
}

.home-2 {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.home-content-2 {
  width: 85%; 
  max-width: 1100px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  text-align: center;
  
}

.highlight-1{
  color:#254C7E;
}

.card {
  width: 90%;
  transition: transform 0.3s ease-in;
  transition: transform 1s ease-out;
}

.card {
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.07); 
}

.card-desc {
  width: 50%;
}

/*---*/


.illustration-content {
  width: 100vw; 
  aspect-ratio: 2 / 1;
  background-color: #183252;
  box-sizing: border-box;
  padding-top: 6vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* verticle */
  align-items: center;
}

.illustration-image {
  width: 85%; 
  max-width: 1100px;
  aspect-ratio: 2.77 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center; /* verticle */
}

.illustration-image button {
  width: 15%;
}

.illustration-slide-1 {
  width: 85vw;
  max-width: 1100px;
  padding-top: 6vh;

  display: flex;
  flex-direction: column;
  justify-self: center;
}

.illustration-slide-1 h1 {
  margin-bottom: -10px;
}

.illustration-slide-1 img {
  border-radius: 5px;
  margin: 10px;
}

.illustration-content-1 {
  box-sizing: border-box;
  padding-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}

button {
  background-color: transparent;
  border: 1px solid #b5bbc2;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 8px;

  transition: background-color 0.3s;
}

button a {
  color: white;
  font-family: Belgiano;
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: bold;
}

button:hover {
  background-color: rgba(43, 78, 124, 0.3); 
}

/*---*/

.proj-content-2-langs p{
  font-size: 17px;
}

.project-card-container {
  width: 40%;
  max-width: 400px;
  min-width: 260px;
  background-color: rgb(250, 246, 239);
  margin: 10px;
  padding: 10px;
  outline: 2px solid #c5c9cf; 
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: transform 0.3s ease-in-out;
}


.project-card-container:hover {
  transform: scale(1.05); 
}

.project-card-container p{
  font-family: small;
}

.project-card-img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  background-size:contain;
  background-position: top center;
  background-repeat: no-repeat,
}

.project-card-img:hover{
  transform: scale(1.02); 
} 

.project-card-description{
  margin-top: -15px;
}

.project-card-langs {
  padding-right: 20px;
  display: flex;
  gap: 10px;
}

.project-card-langs p{
  font-size: small;
  padding: 5px;
  outline: 2px solid #c5c9cf; 
  border-radius: 3px;
}

/*---*/

.proj-slide-1{
  width: 100%;
  padding-top: 10vh;

  justify-content: center;
  align-items: center;
}

.proj-content-1, .proj-content-2{
  width: 85%; 
  max-width: 1100px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-self: center;
}

.proj-content-1-left{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.proj-content-1-left p{
  width: 90%;
}

.proj-content-1-left h4{
  margin-top: -30px;
}

.proj-content-1-right{
  width: 40%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.proj-content-1-right img{
  width: 80%;
  min-width: 300px;
  max-width: 400px;
  margin-top: 3vh;
  margin-left: 5vh;
}

.proj-content-2{
  margin-top: -50px;
}

.proj-content-2 h2 {
  margin-bottom: 10px;
}

.project-divider {
  margin: 50px;
}

.proj-links {
  margin-right: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*---*/

.about-slide {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 85%;
  max-width: 1100px;
  margin: 5vw;
  padding-bottom: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bio {
  width : 75%;
}

.about-content-left {
  width: 55%;
  align-items: center;
  justify-content: center;
}
.about-content-left img {
  width: 40%;
  margin-left: 45%;
  margin-top: -8%;
}

.about-content-right {
  width: 45%
}

.about-content-right img {
  width: 100%;
}
